<h1>Resume</h1>
<%= link_to "Home", controller: 'welcome', action: 'index' %>
<article>
<p>Hi! My name is Bryan Vogt.
I have over twenty years experience in the construction industry,
and I have been designing spaces for clients for over five years.</p>
<p>My favorite designs are sustainable and respect the site and the lives of the owners who inhabit them.</p>
<p>I'd love to hear about whatever ideas you have for your next project, whether it be a remodel, new construction, an addition, update a room, or simply re-imagine or re-purpose a space you already inhabit.</p>
</article>
