<h1>Northeast Architects</h1>
<%= image_tag "elegant.jpeg" %>
<%= link_to "Resume", controller: 'welcome', action: 'about' %>
<%= link_to "Projects", controller: 'welcome', action: 'projects'%>
<footer><span>bryanvogtarch@gmail.com</span><span>845.235.4659</span>Beacon, New York</span></footer>

